@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');

.login {
    display:flex;
    height: calc(100vh - 100px);
    margin-top:100px;
    align-items: center;
    flex-direction: column;
}

.login__title {
    font-family: 'Rammetto One', cursive;
    font-size:2.45em;
    text-align: center;
    margin:0;
    letter-spacing: 2.4px;
}

.login__heading {
    font-family: 'Mukta Mahee', sans-serif;
    color:#5a5a5a;
    font-size:1.4em;
    margin:20px 0 43px 0;
    letter-spacing: 1.5px;
}

.login__form label {
    display: block;
    font-family: 'Mukta Mahee', sans-serif;
    color:#5a5a5a;
    font-size:1em;
    margin:0 0 20px 0;
}

.login__form input {
    display: block;
    outline:none;
    border:1px solid #b8b8b8;
    border-radius:4px;
    padding:13px;
    width:550px;
}

.login__button {
    width:90px;
    background-color: #fff;
    outline:none;
    border:1px solid #5a5a5a;
    color:#5a5a5a;
    padding:12px;
    margin:10px auto;
    display:block;
    transition:.2s background-color, .2s color;
}

.login__button:hover {
    background-color: #5a5a5a;
    color:#fff;
}