@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Padauk:700');

$primary-bg-color: #FF5722;
$primary-nav-width: 200px;

.primary-nav {
    float:left;
    width:$primary-nav-width;
    background-color: #1d1d1d;
    height: 100vh;
}

.primary-nav__primary-menu {
    list-style: none;
    padding:0;
    margin:0;
}

.primary-nav__primary-menu li {
    margin: 7px;
    border-bottom:1px solid #3a3a3a;
    padding:10px;
}

.primary-nav__primary-menu li a {
    color:#c5c5c5;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size:1.15em;
}

.primary-nav__primary-menu li a:hover {
    color:#ececec;
}

.primary-nav__item-active:visited, .primary-nav__item-active:link, .primary-nav__item-active:hover {
    color:#ececec;
    text-decoration: none;
}

.primary-nav__item-icon {
    display:inline-block;
    width:22px;
}

.primary-nav__item-title {
    display:inline-block;
    margin-left:15px;
}

.content {
    height: 100vh;
    overflow: auto;
}

.content__title {
    display:flex;
    font-weight: bold;
    padding:9px;
    font-family: 'Padauk', sans-serif;
    text-transform: uppercase;
    background-color: $primary-bg-color;
    font-size:1.3em;
    border-bottom:4px solid #1f1f1f;
}

.content__body {
  display:flex;
  flex-wrap:wrap;
}

.panel {
  margin:40px 20px 0 20px;
}

.panel--light .panel__title {
  background-color: #FFCCBC;
}

.panel__title {
  font-size:1.25em;
  font-family: 'Padauk', sans-serif;
  background-color: $primary-bg-color;
  padding:6px;
  margin:0;
}

.panel__body {
  padding: 10px;
  border:2px solid #e2e2e2;
}

.panel--big {
  flex-basis:1340px;
}

.panel--small {
  flex-basis:202px;
}

.panel__button {
  outline:none;
  background-color:$primary-bg-color;
  padding:9px;
  font-family: 'Montserrat', sans-serif;
  border:0;
  border-radius: 4px;
}

.panel__button--disabled {
  background-color: #BF360C;
}

.panel__button:hover {
  background-color: #BF360C;
}

.panel__table {
  width:100%;
  background-color:#efefef;
  font-family: 'Montserrat', sans-serif;
}

.panel__table thead {
  background-color:#757575;
}

.panel__table th, .panel__table tr {
  padding:4px;
}

.panel__input {
  outline:none;
  background-color:#efefef;
  padding:9px;
  font-family: 'Montserrat', sans-serif;
  border:0;
  margin:0 5px 0 0;
  border-radius: 4px;
}

.panel__nav {
  margin-top:10px;
}

.float-right {
  float:right;
}

.loading-screen {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100vw;
  top:0;
  flex-wrap: wrap;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

.panel__textarea {
  width:100%;
  height: 300px;
  border:2px solid #e2e2e2;
}

.panel__select-wrapper {
  display:inline-block;
  vertical-align: top;
  overflow: hidden;
  border:solid grey 1px;
}

.panel__select--no-overflow {
  padding:10px;
  margin: -5px -20px -5px -5px;
}