@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.primary-nav {
    float:left;
    width:130px;
    background-color: #1d1d1d;
    height: 100vh;
}

.primary-nav__primary-menu {
    list-style: none;
    padding:0;
    margin:0;
}

.primary-nav__primary-menu li {
    margin: 7px;
    border-bottom:1px solid #3a3a3a;
    padding:4px;
}

.primary-nav__primary-menu li a {
    color:#c4c4c4;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size:1.1em;
}

.primary-nav__primary-menu li a:hover {
    color:#dadada;
}

.content {
    width: 100vw;
}

.content__title {
    display:flex;
    font-weight: bold;
    padding:9px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    background-color: #E64A19;
    font-size:1.3em;
}
